body {
    color: #333;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    color: #888;
    border-top: 1px solid #eee;
    margin-top: 16px;
    padding: 16px 0;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

h1 {
    font-size: 2.5rem;
}

.header-links {
    color: #888;
    margin-right: 16px;
    text-decoration: none;
}

.header-links:hover {
    color: #333;
}

.main-content {
    flex-grow: 1;
    text-align: center;
}

.weather-image {
    width: 350px;
}


.weather-input {
    text-align: center;
} 


.location-input {
    border: 1px solid #ccc;
    padding: 8px;
    box-shadow: none;
    outline: none;
    border-radius: 10px;
}

.location-input:focus {
    outline: 1px solid #cccccc;  /* Subtle gray outline */
}

.search-button {
    cursor: pointer;
    background-color: #aaa;
    color: white;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.weather-input {
    position: relative;
    text-align: center;
    width: 70%;
    margin: auto;
} 

.location-input {
    border: 1px solid #ccc;
    width: 100%; 
    padding: 12px;
    padding-right: 50px; 
    box-shadow: none;
    outline: none;
    border-radius: 20px;
    box-sizing: border-box;
}

.location-input:focus {
    outline: 1px solid #cccccc;  
}

.search-button {
    position: absolute;
    right: 0; 
    top: 0; 
    cursor: pointer;
    background: none;
    padding: 12px 14px;
    border: none;
    border-radius: 30px;
    height: 100%; 
    width: 20%;
    outline: none;
}

.search-button:hover {
    background-color: #bbb;
}

.search-button img {
    height: 100%; 
    width: auto; 
}

@media (min-width: 601px) {
    h1 {
        font-size: 4rem;
    }
    .search-button {
        width: 10%;
    }

    .weather-image {
        width: 450px;
    }
  }